:root {
  --main-color: #0652e9;
  --secondary-color: #62e1e9;
  --section-bg-color: #f9f9f9;
  --bg-dark: #191919;
  --whatsapp-bg-color: #25d366;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Roboto', sans-serif !important; */
  overflow-x: hidden;
  /* direction: rtl; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: var(--bg-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.bg-section {
  background-color: var(--section-bg-color);
}

.text-handler-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-handler-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-handler-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}